.left{
 width:35%;
  height:250px;
  float:left;
   border-radius:20px;
}
.right{
  width:35%;
  height:250px;
  float:left;
   border-radius:20px;
}
.story{
  width:30%;
  height:250px;
  float:left;
  text-align:center;
  background-color:LemonChiffon;
  border-radius:20px;
}
.la{
  float:left;
  height:30px;
  width:40%;
  background-color:Khaki;
  border-radius:20px;
}
.ra{
   float:right;
  height:30px;
  width:40%;
  background-color:Khaki;
  border-radius:20px;
}
body{
  background-color:Khaki;
}